<div class="form-container">
  <h1>Registrar producto</h1>
  <form [formGroup]="createForm" (ngSubmit)="createProduct()">
    <div class="mb-3">
      <label class="form-label">Numero de lote</label>
      <input formControlName="num_lot" class="form-control">  
    </div>
    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input formControlName="name" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Precio</label>
        <input formControlName="price" class="form-control">
      </div>
      <div class="mb-3">
        <label class="form-label">Cantidad</label>
        <input formControlName="amount" class="form-control">
      </div>
    <button type="submit" class="btn btn-primary">Registrar</button>
</form>
</div>